html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    title= title
    h1= message
  body
    div.btn-group
      form(action='/resources/people/profile', method='POST', content-type='application/json')
        each val in values
          button(id=val.name,name="name",value=val.name)=val.name