html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        title="Login Page"
    body
        div.login-container
            h1="Please Login to Continue"
            if (message)
                h4=message
            form(action='/login',method='POST', autocomplete='off')
                input(type='text',id='username',name='username',placeholder='username')
                input(type='password',id='password',name='password',placeholder='password')
                input(type='Submit',id='submit',name='submit',placeholder='password')

