html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        title=user.title
    body
        div.profile-container
            h1=user.name
            img(src='https://pbs.twimg.com/media/DoWo3unU4AA2etL.jpg')