.btn-group button {
    background-color: lightcoral; /* Green background */
    border: 1px solid #ad5a5a; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 50%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
  }
  
  .btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #fc8585;
  }

  .add-profile {
    text-align: right;
  }

  .menu {
    background-color: lightcoral; /* Green background */
    border: 1px solid #ad5a5a;
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    width: 10.0vmin;
    height: 10.0vmin;
    font-size: 5vh;
    text-align: center;
    
  }

  .menu:hover{
    background-color: #fc8585;
  }

  .profile-container {
    vertical-align: middle;
    background-color: lightcoral;
    text-align: center;
  }

  .login-container {
    position: absolute;
    text-align: center;
    background-color: lightcoral;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .login-container input {
    display: block;
    padding: 12px 20px;
    margin: 10px auto;
    text-align: center;
  }

  .login-container input:not(#submit) {
    width: 30%;
    height: 5%;
    display: block;

  }

  .login-container h1 {
    display: block;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .profile-container h1 {
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .profile-container input {
    width: 90%;
    height: 20%;
    display: inline-block;
    padding: 12px 20px;
    text-align: center;
  }

  .profile-container input#name{
    font-size: 10vh;
  }

  .profile-container input#picky{
    padding: 12px 50%;
  }

  .profile-container input#complete{
    font-size:30vh;
  
  }

  .profile-container img {
    max-height: 600;
    max-width: 600;
    object-fit: contain;
  }