.btn-group button {
    background-color: lightcoral; /* Green background */
    border: 1px solid #ad5a5a; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 50%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
  }
  
  .btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: lightcoral;
  }

  .profile-container {
    vertical-align: middle;
    background-color: lightcoral;
    text-align: center;
  }

  .profile-container h1 {
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .profile-container img {
    width: 500;
    height:500;
    object-fit: contain;
  }